
<div class="row">
  <div class="col-md-9">
<table class="table table-striped">
  <thead>
    <td>Start</td>
    <td>End</td>
    <td>Activity</td>
    <td>Duration</td>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td>{{ log.startDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ log.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ log.activityName }}</td>
      <td>{{ log.duration | date:'HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
</div>
  <div class="col-md-3">
  <table class="table">
    <thead>
      <tr>
        <td colspan="2"><b>Summary</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="logService.totalWork != 0">
        <td>Total work: </td>
        <td><b>{{ logService.totalWork | date:'HH:mm:ss' }}</b> </td>
      </tr>
      <tr *ngIf="logService.totalBreak != 0">
        <td>Total break: </td>
        <td><b>{{ logService.totalBreak | date:'HH:mm:ss' }}</b> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>